.country-list {
  list-style: none;
}

.country-list__name {
  margin: 0;
}

.country-list__item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.country-info__wrapper {
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.country-info__name {
  font-size: 40px;
  margin: 0;
}

.country-info__weight {
  font-weight: 500;
}
